# Part 1: Data processing using numpy

## Loading the data

In [2]:
import numpy as np

In [3]:
population = np.load('../data/population.npy')
employment_rate = np.load('../data/employment.npy')

## Inspecting the data

In [4]:
population.dtype

dtype('int64')

In [5]:
employment_rate.dtype

dtype('float64')

In [6]:
population.shape

(195,)

In [7]:
employment_rate.shape

(195,)

## Calculations using broadcasting

In [8]:
absolute_employment = (employment_rate / 100) * population

## Merging arrays

In [16]:
population = population.reshape((-1,1))
employment_rate = employment_rate.reshape((-1,1))
absolute_employment = absolute_employment.reshape((-1,1))

In [19]:
dataset = np.concatenate((population, employment_rate, absolute_employment), axis=1)

# Part 2: Data processing using pandas

In [22]:
import pandas as pd

## Loading data

In [24]:
df_population = pd.read_csv('../data/population_total.csv', index_col=0)
df_employment = pd.read_csv('../data/employment.csv', index_col=0)

## Filtering data to a single year

In [30]:
df_population_2020 = df_population[['2020']]
df_employment_2020 = df_employment[['2020']]

### Merging the data frames

In [31]:
df_population_2020.columns = ['population']
df_employment_2020.columns = ['employment_rate']

In [36]:
df_output = pd.concat([df_population_2020, df_employment_2020], axis=1)

### Calculating employment rate

In [37]:
df_output['absolute_employment'] = df_output['population'] * (df_output['employment_rate'] / 100)

In [38]:
df_output.head()

             population  employment_rate  absolute_employment
Afghanistan    38100000             49.5           18859500.0
Albania         2940000             47.2            1387680.0
Algeria        43300000             37.1           16064300.0
Andorra           77200              NaN                  NaN
Angola         32800000             70.3           23058400.0