# LAB 1 - Exploring data with numpy and pandas

In this lab we'll explore how to use pandas and numpy to analyse and process data.
We'll start with numpy and learn how to work with arrays. Then, we'll move on to pandas to learn about some basic pandas features

## Part 1: Working with data in numpy

In this first part, we'll perform some basic mathematical operations on data
using numpy. We'll look at:

* Loading arrays
* Inspecting arrays
* Array broadcasting and mathematics
* Combining arrays

In [1]:
import numpy as np

### Step 1: Loading arrays

In this step we'll load a couple of arrays that we're going to work on. For the purpose of this lab we've stored a couple of numpy arrays on disk. You can load the numpy arrays into memory using the `load` function that is available in the `numpy` module. 

Use the [load](https://numpy.org/doc/1.18/reference/generated/numpy.load.html?highlight=load#numpy.load) function from the numpy module to load the file `../data/population.npy` and save it to the `population` variable.

In [2]:
population = np.load('../data/population.npy')

Next, load the file `../data/employment.npy` and assign it to the `employment` variable.

In [3]:
employment = np.load('../data/employment.npy')

### Step 2: Inspecting arrays

Now that we've loaded the numpy arrays from disk, let's inspect them to make sure that they're loaded correctly. The `population` array should contain 195 rows. The `employment` array should have the same number of rows. Both arrays should have a shape of (195,) meaning they're 1-D arrays.

Use the [shape](https://numpy.org/doc/1.18/reference/generated/numpy.ndarray.shape.html?highlight=shape#numpy.ndarray.shape) attribute on the arrays to check the format of the `population` and `employment` arrays.

In [4]:
population.shape

(195,)

In [5]:
employment.shape

(195,)

### Step 3: Array broadcasting

The `population` array contains population data for a set of countries, while the `employment` array contains data about employment percentage per country. If we want to calculate the number of people employed per country, we need to multiply the `employment` array with the `population` array.

Note, the value in the `employment` is between `0` and `100`. You can verify this using the `min()` and `max()` method on the `employment` array. Make sure that you compensate for this by dividing the `employment` array by `100`.

Calculate the `absolute_employed` array using the `population` and `employment` array.

In [6]:
absolute_employed = population * (employment / 100)

### Step 4: Combining arrays

Now that we've calculated the absolute employment figures per country, we can combine all arrays into a single array using the [concatenate](https://numpy.org/doc/1.18/reference/generated/numpy.concatenate.html?highlight=concatenate#numpy.concatenate) function.

Before you can concatenate the arrays, you need to make sure that they're stored as 2D-arrays instead of 1D-arrays. You can reshape the arrays using the [reshape](https://numpy.org/doc/1.18/reference/generated/numpy.ndarray.reshape.html?highlight=reshape#numpy.ndarray.reshape) method that's available on the `population` and `employment` arrays. Make sure you specify `(-1,1)` as input for the `reshape` method. This allows numpy to dynamically determine the number of rows in the array based on what it currently contains.

Reshape the arrays so they're of shape `(-1, 1)`

In [7]:
population = population.reshape((-1,1))
employment = employment.reshape((-1,1))
absolute_employed = absolute_employed.reshape((-1,1))

Next, concatenate the arrays using the [concatenate](https://numpy.org/doc/1.18/reference/generated/numpy.concatenate.html?highlight=concatenate#numpy.concatenate) Use `axis=1` as the second argument so the arrays are concatenated column-wise.

In [8]:
output = np.concatenate([population, employment, absolute_employed], axis=1)

## Part 2: Process data using pandas

In the previous part, we've looked at using numpy to process data. This has some limitations:

* An array can contain only one type
* You can't label rows and columns

In this part we're going to use pandas instead of numpy. You'll learn how pandas makes processing tables of data a lot easier compared to numpy.
We'll cover the following topics in this part:

* Loading data
* Inspecting data frames
* Combining data frames
* Basic calculations using data frames

In [10]:
import pandas as pd

### Step 1: Loading data

Use the [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function in pandas to read the file `../data/employment_rate.csv` and store it in a variable `df_employment`.

In [12]:
df_employment = pd.read_csv('../data/employment_rate.csv')

When you've loaded the employment rate data, load the file `../data/population.csv` and store it in a variable `df_population`.

In [14]:
df_population = pd.read_csv('../data/population.csv')

### Step 2: Inspecting data frames

Now that we've loaded the data, let's inspect what we've loaded from disk. Use the [info](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html?highlight=info#pandas.DataFrame.info) method on the `df_population` and `df_employment` data frames to inspect them.

In [15]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 302 entries, country to 2100
dtypes: int64(301), object(1)
memory usage: 460.2+ KB

In [16]:
df_employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 33 columns):
country    179 non-null object
1991       179 non-null float64
1992       179 non-null float64
1993       179 non-null float64
1994       179 non-null float64
1995       179 non-null float64
1996       179 non-null float64
1997       179 non-null float64
1998       179 non-null float64
1999       179 non-null float64
2000       179 non-null float64
2001       179 non-null float64
2002       179 non-null float64
2003       179 non-null float64
2004       179 non-null float64
2005       179 non-null float64
2006       179 non-null float64
2007       179 non-null float64
2008       179 non-null float64
2009       179 non-null float64
2010       179 non-null float64
2011       179 non-null float64
2012       179 non-null float64
2013       179 non-null float64
2014       179 non-null float64
2015       179 non-null float64
2016       179 non-null float64
2017       179 non-null float64
2018       179 non-null float64
2019       179 non-null float64
2020       179 non-null float64
2021       179 non-null float64
2022       179 non-null float64
dtypes: float64(32), object(1)
memory usage: 46.3+ KB

### Step 3: Combining data frames

Now that we've got the datasets loaded from disk, let's combine them into a single data frame.
For this, we need to perform an important translation to the data frame.

From inspecting the data frame, you should have seen that each year is stored as a column in the data frame.
If we were to merge the data frames now, it wouldn't work, because the columns overlap.

We can fix this by using the [melt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html) method on the data frames to turn the year columns into values per row. 

Use the `melt` method on `df_population` with the following arguments:

* `id_vars=[country]` - Leaves the countries as they are
* `var_name='year'` - Creates a column year, containing the original column names
* `value_name='population'` - Creates a new column `population` that stores the values that were stored in the columns that we melted

Store the result in df_population_melted

In [19]:
df_population_melted = df_population.melt(id_vars=['country'], var_name='year', value_name='population')

Repeat the process for the `df_employment` data frame with the following arguments:

* `id_vars='country'` - Leaves the countries as they are
* `var_name='year'` - Creates a column year containing the original column names for the years
* `value_name='employment_rate'` - Creates a new column `employment_rate` that stores the values that were stored in the columns that we melted

Store the result in `df_employment_melted`

In [18]:
df_employment_melted = df_employment.melt(id_vars=['country'], var_name='year', value_name='employment_rate')

Now that we've converted the pivoted data frames into unpivoted versions of the same data frames we can join them using the [merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html?highlight=merge#pandas.DataFrame.merge) function.

Using the `merge` function, combine the data frames. In addition to the data frames, use the following arguments 

* `on=['year','country']` - Joins the data frames on the combination of year and country.

Store the result in the `df_output` variable.

In [21]:
df_output = pd.merge(df_employment_melted, df_population_melted, on=['year','country'])

### Step 4: Basic calculations using data frames

Once we've merged the data frames we can calculate the `absolute_employment` column. Multiply the `population` and `employment_rate` columns and store them in the `absolute_employment` column.

**Tip** You can select a column using `df['col_name']`. 

**Tip** You can create a new column using the same technique

In [22]:
df_output['absolute_employed'] = df_output['population'] * (df_output['employment_rate'] / 100)

In [23]:
df_output.head()

       country  year  employment_rate  population  absolute_employed
0  Afghanistan  1991             45.3    13000000          5889000.0
1      Albania  1991             50.8     3280000          1666240.0
2      Algeria  1991             34.4    26600000          9150400.0
3       Angola  1991             59.8    12600000          7534800.0
4    Argentina  1991             56.5    33200000         18758000.0

As a bonus, use the `set_index` method on `df_output` to turn the `country` column into the index of the data frame.

In [25]:
df_output = df_output.set_index('country')

In [26]:
df_output.head()

             year  employment_rate  population  absolute_employed
country
Afghanistan  1991             45.3    13000000          5889000.0
Albania      1991             50.8     3280000          1666240.0
Algeria      1991             34.4    26600000          9150400.0
Angola       1991             59.8    12600000          7534800.0
Argentina    1991             56.5    33200000         18758000.0